{% extends 'base.html' %}
{% load i18n %}
{% load ui_components %}

{% block title %}{% trans 'My Invoices' %} - PRAHO Portal{% endblock %}

{% block content %}
<div class="space-y-6">
  {# Shared Header Card #}
  {% include "components/list_page_header.html" with list_icon_bg="bg-blue-600" list_icon_svg_path="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" list_title=page_title list_title_mobile=page_title_mobile list_subtitle=page_subtitle list_stats=header_stats list_action_include="billing/partials/header_action.html" %}

  {# Messages #}
  {% if messages %}
  <div class="space-y-2">
    {% for message in messages %}
    {% alert message variant=message.tags dismissible=True %}
    {% endfor %}
  </div>
  {% endif %}

  {# Shared Filters with Tabs (doc type) + Search + Status Dropdown #}
  {% url 'billing:invoices_search_api' as invoices_search_url %}
  {% include "components/list_page_filters.html" with filter_search_url=invoices_search_url filter_content_id="invoices-content" filter_skeleton_id="invoices-skeleton" filter_search_value=search_query filter_search_placeholder=search_placeholder filter_tabs=filter_tabs filter_active_tab=doc_type filter_tab_param="type" filter_extra_selects_include="billing/partials/invoice_extra_filters.html" %}

  {# Invoices List Container #}
  <div id="invoices-container" class="relative">
    {# Shared Skeleton Loader #}
    {% include "components/list_page_skeleton.html" with skeleton_id="invoices-skeleton" skeleton_cols=5 skeleton_rows=6 %}

    {# Content (swapped by HTMX) #}
    <div id="invoices-content">
      {% include 'billing/partials/invoices_table.html' %}
    </div>
  </div>
</div>
{% endblock %}
