{% extends 'base.html' %}
{% load i18n %}
{% load ui_components %}

{% block title %}{% trans 'My Services' %} - PRAHO Portal{% endblock %}

{% block content %}
<div class="space-y-6">
  {# Shared Header Card #}
  {% include "components/list_page_header.html" with list_icon_bg="bg-green-600" list_icon_svg_path="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" list_title=page_title list_title_mobile=page_title_mobile list_subtitle=page_subtitle list_stats=header_stats list_action_include="services/partials/header_action.html" %}

  {# Messages #}
  {% if messages %}
  <div class="space-y-2">
    {% for message in messages %}
    {% alert message variant=message.tags dismissible=True %}
    {% endfor %}
  </div>
  {% endif %}

  {# Shared Filters with Tabs (status) + Search #}
  {% url 'services:search_api' as services_search_url %}
  {% include "components/list_page_filters.html" with filter_search_url=services_search_url filter_content_id="services-content" filter_skeleton_id="services-skeleton" filter_search_value=search_query filter_search_placeholder=search_placeholder filter_tabs=filter_tabs filter_active_tab=status_filter filter_tab_param="status" %}

  {# Services List Container #}
  <div id="services-container" class="relative">
    {# Shared Skeleton Loader #}
    {% include "components/list_page_skeleton.html" with skeleton_id="services-skeleton" skeleton_cols=5 skeleton_rows=6 %}

    {# Content (swapped by HTMX) #}
    <div id="services-content">
      {% include 'services/partials/services_table.html' %}
    </div>
  </div>
</div>
{% endblock %}
