{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Support Tickets' %} - PRAHO Platform{% endblock %}

{% block content %}
<div class="space-y-6">
  {# Shared Header Card #}
  {% include "components/list_page_header.html" with list_action_include="tickets/partials/header_action.html" %}

  {# Shared Filters with Tabs + Search #}
  {% include "components/list_page_filters.html" with filter_tab_param="status" %}

  {# Tickets List Container #}
  <div id="tickets-container" class="relative">
    {# Shared Skeleton Loader #}
    {% include "components/list_page_skeleton.html" with skeleton_id="tickets-skeleton" skeleton_cols=5 skeleton_rows=6 skeleton_has_avatar=False %}

    {# Content (swapped by HTMX) #}
    <div id="tickets-content">
      {% include 'tickets/partials/tickets_table.html' %}
    </div>
  </div>
</div>
{% endblock %}
